
<section class="columns-x">
    <h1>Anime.js to MP4 Video</h1>
 
    <p>with FFMPEG & Node.js</p>
</section>
<section class="columns">

<div class="container">
<div class="svg"><img src="../images/logo-prov.png" alt="" srcset=""></div>
<div class="company">Company Name</div><div class="slogan">Company Slogan</div>
</div>
</section>

<section class="columns">
<button class="button" type="button">Convert</button>
</section>

<script src="/javascripts/index.js"></script>